# Maven
target/
*.class

# Log files
*.log

# Project files
.classpath
.project
.settings/
.factorypath
.metadata/

# IntelliJ Idea
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Package Files #
*.jar
*.war
*.ear

# Node / Angular (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.angular/

# OS files
.DS_Store
